<!-- FOOTER -->
<footer class="w-100 py-4 flex-shrink-0">
  <div class="container py-4">
    <div class="row gy-4 gx-5">
      <div class="col-lg-4 col-md-6">
        <h5 class="h1 text-white">Instituto Médico Kalifa</h5>
        <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt.</p>
        <p class="small text-muted mb-0">&copy; Copyright Derecho Reservado<a class="text-primary"
            href="#"> Doctor Kalifa</a></p>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">Menú</h5>
        <ul class="list-unstyled text-muted">
          <li><a href="/inicio">Inicio</a></li>
          <li><a href="/servicios">Servicios</a></li>
          <li><a href="/nosotros">Nosotros</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">Contáctanos</h5>
        <ul class="list-unstyled text-muted">
          <li><a href="tel:593955555555"><i class="pi pi-phone"></i> +593 955555555</a></li>
          <li><a href="mailto:prueba@prueba.com">prueba@prueba.com</a></li>
          <li><a href="#">Av. Orellana 123</a></li>
        </ul>
      </div>
       <div class="col-lg-4 col-md-6">
        <h5 class="text-white mb-3">Síguenos</h5>
        <p class="small text-muted">Nuestras redes sociales:</p>
        <div class="row">
          <div class="col-2">
            <a href="https://www.facebook.com" class="btn btn-sm btn-light btn-block"><i class="fa fa-facebook"></i></a>
          </div>
          <div class="col-2">
            <a href="https://www.facebook.com" class="btn btn-sm btn-light btn-block"><i class="fa fa-instagram"></i></a>
          </div>
          <div class="col-2">
            <a href="https://wa.me/593955555555" class="btn btn-sm btn-light btn-block"><i class="fa fa-whatsapp"></i></a>
          </div>
          </div> 
      </div> 
    </div>
  </div>
</footer>
