<ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows"
  [showNavigationIndicators]="showNavigationIndicators">
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="picsum-img-wrapper">
      <img [src]="image" class="img-fluid" alt="Random slide">
    </div>
    <div class="carousel-caption position-absolute top-20 text-dark">
      <h1>Instituto Médico Kalifa</h1>
      <p>Donde tu bienestar es nuestra prioridad</p>
      <button class="btn btn-dark" placement="bottom" ngbTooltip={{tooltipMsg}}>Agenda tu cita</button>
    </div>
  </ng-template>
</ngb-carousel>

<div class="pt-5 pb-5">
  <h1 class="text-center">Nuestros Servicios</h1>
</div>
<!-- CARDS -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <div *ngFor="let i of servicios" class="col">
      <div class="card border-0 text-center">
        <img src={{i.image}} class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <!-- <h3 class="card-title fw-bold">{{i.name}}</h3>
          <p class="card-text">{{i.desc}}</p> -->
          <a href="#" class="btn btn-dark">Saber más</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-5 pb-5">
  <div class="row row-cols-1 row-cols-sm-2">
    <div class="col">
      <img src="assets/backgrounds/medical.jpeg" class="img-fluid rounded" alt="">
    </div>
    <div class="col">
      <h3 class="text-center fw-bold pt-3">Title</h3>
      <p class="text-justify lh-lg">Especializado en la Academia Médica Estatal de Voronezh "Burdenko" en Rusia,  doctor en medicina por la Universidad Estatal de Belgorod en Rusia. Actualmente se desempeña como endocrinólogo en SOLCA Guayaquil y en el Omni Hospital.</p>
    </div>
  </div>
</div>

<div class="container pt-5 pb-5">
<div>
  <div class="d-flex justify-content-center card-title pt-5 text-white">
    <h1 class="text-3xl mb-2 font-semibold leading-normal text-center text-black" >Nuestras Instalaciones</h1>
  </div>
  <!-- <div class="d-flex justify-content-center description text-black">
    <h6 class="text-lg leading-relaxed mt-4 mb-4 text-center" >Suspendisse Commodo Auctor Molestie Mauris Arisusv.
      <span style="text-align: center; display: block;">Massaconsequat Pharetra Suspendisse</span>
    </h6>
  </div> -->

  <div class="m-auto pt-4 item-container">
    <p-carousel [value]="docList" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true"
      [autoplayInterval]="10000" [responsiveOptions]="responsiveOptions" [showIndicators]="true"
      [showNavigators]="false">
      <ng-template let-docList pTemplate="item">
        <div class="card-group">
          <div class="item card border-0">
            <img src="{{docList.image}}" class="card-img-top img-fluid w-75 mx-auto" alt="...">
            <div class="card-body">
              <h5 class="card-title font-semibold text-lg leading-relaxed mt-4 text-center">{{docList.desc}}</h5>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
</div>