<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'.'">
        <img src="assets/navBrand/doctor-icon.png" width="80" height="80"  alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav navs1">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'inicio'" (click)="isMenuCollapsed = true">Inicio</a>
        </li>
        &nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'servicios'" (click)="isMenuCollapsed = true">Servicios</a>
        </li>
        &nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'nosotros'" (click)="isMenuCollapsed = true">Nosotros</a>
        </li>
        &nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'contacto'" (click)="isMenuCollapsed = true">Contacto</a>
        </li>
      </ul>
      <ul class="navbar-nav navs2">
          <li class="nav-item">
            <a href="">
                <i class="fab fa-facebook fa-xl iconNav" style="color: #3b5998;"></i>
            </a>
            <a href="">
                <i class="fab fa-instagram fa-xl iconNav" style="color: #E1306C;"></i>
            </a>
            <a href="">
                <i class="fab fa-whatsapp fa-xl iconNav" style="color: #25D366;"></i>
            </a>
            <a href="">
                <i class="fa fa-phone fa-xl iconNav" style="color: #000;"></i>
            </a>                        
          </li>
      </ul>
    </div>
  </div>
</nav>
