<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'.'">Responsive navbar</a>

    <!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>

    <!-- Step 2: Add the ngbCollapse directive to the element below. -->
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav navs1">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Inicio</a>
        </li>
        &nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Servicios</a>
        </li>
        &nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Nosotros</a>
        </li>
        &nbsp;&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true">Contacto</a>
        </li>
      </ul>
      <ul class="navbar-nav navs2">
          <li class="nav-item">
            <i class="fab fa-facebook fa-xl"></i>&nbsp;&nbsp;
            <i class="fab fa-instagram fa-xl"></i>&nbsp;&nbsp;
            <i class="fab fa-whatsapp fa-xl"></i>&nbsp;&nbsp;
            <i class="fa fa-phone fa-xl"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </li>
      </ul>
    </div>
  </div>
</nav>
