/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

a
    text-decoration: none

body
    font-family: Georgia, 'Times New Roman', Times, serif
    overflow-x: hidden

html
    overflow-x: hidden

.btn-dark:hover
    opacity: 0.8

::ng-deep
    .p-carousel .p-carousel-indicators .p-carousel-indicator button
        width: 1vw
        height: 1vw
        border-radius: 100%

@media screen and ( max-width:  560px)
    ::ng-deep
        .p-carousel .p-carousel-indicators .p-carousel-indicator button
            width: 3vw
            height: 3vw
    
